#deny from all
#allow from 10.0.0.34

Options +FollowSymLinks
Options +SymLinksIfOwnerMatch

DirectoryIndex index.php, index.html

Options -Indexes
AddDefaultCharset utf-8

RewriteEngine on

#RewriteCond %{HTTP_HOST} ^www.vesyllya.com.ua$
#RewriteRule ^(.*)$ http://vesyllya.com.ua/$1 [R=301,L]
#RewriteRule ^/?index.html  http://vesyllya.com.ua [L,R=301,NE]
#RewriteRule ^/?index.php  http://vesyllya.com.ua [L,R=301,NE]
#RewriteRule ^/?index  http://vesyllya.com.ua [L,R=301,NE]
#RewriteRule ^/?index\/index  http://vesyllya.com.ua [L,R=301,NE]

#все запросы, начинающиеся не с "admin", "js" и т.д перенапрвляются, как это указано ниже
#если нужно вставить только админку, две строки ниже комментим
RewriteCond %{REQUEST_URI} !^/(fonts|style|js|admin|mc_project\/admin_content|upload)
RewriteRule !\.(js|ico|gif|jpg|jpeg|png|swf|css|doc|xls|zip|rar|pdf|htmOlolo|htmlOlolo|cur|)$ index.php [L]



RewriteCond %{REQUEST_URI} ^/(admin)
#все запросы, начинающиеся с "admin" перенапрвляются, как это указано ниже
RewriteRule !\.(js|ico|gif|jpg|jpeg|png|swf|css|doc|xls|zip|rar|pdf|htmOlolo|htmlOlolo|cur|)$ index.php [L]

php_flag magic_quotes_gpc Off
