* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    font: 12px/18px Arial, Tahoma, Verdana, sans-serif;
    width: 100%;
    height: 100%;
}
a {
    color: blue;
    outline: none;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
/*a:focus {
    border: 1px dotted #000;
}*/
p {
    margin: 0 0 18px
}
img {
    border: none;
}
input {
    vertical-align: middle;
}
#wrapper {
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
    height: 21px;
    background: #9CCB07;
    color: #fff;
    overflow: hidden;
}

#header a {
    color: #fff;
}

#header .header_right {
    margin-right: 4px;
    float: right;
}

#header ul.header_topmenu {
    display: block;
    margin-left: 240px;
    padding-top: 2px;
    float: left;
}

#header ul.header_topmenu li {
    list-style: none;
    display: inline-block;
    padding: 0 10px 2px;
}

#header ul.header_topmenu li.active a {
    text-decoration: none;
}

#header ul.header_topmenu li.active a:hover {
    text-decoration: underline;
}

#header ul.header_topmenu li.active {
    background: #fff;
    -webkit-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px; 
}

#header ul.header_topmenu li.active a {
    color: #000;
}


/* Middle
-----------------------------------------------------------------------------*/
#middle {
    width: 100%;
    padding: 0 0 21px;
    height: 1%;
    position: relative;
}
#middle:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}
#container {
    width: 100%;
    float: left;
    overflow: hidden;
}
#content {
    padding: 40px 40px 0 40px;
    margin-left: 207px;
    overflow: auto;
}

#content .content_top {
    margin-bottom: 20px;
}

#content ul.breadcrumbs {
	font-size: 20px;
    line-height: 22px;
	margin-bottom: 20px;
}

#content ul.breadcrumbs {
    list-style: none;
    margin: 0;
}

#content ul.breadcrumbs li {
    display: inline-block;
}

#content ul.breadcrumbs li a {
    color: #000;
}


/* Sidebar Left
-----------------------------------------------------------------------------*/
#sideLeft {
    float: left;
    width: 206px;
    margin-left: -100%;
    position: relative;
    overflow: auto;
    overflow-x: hidden;
}

#sideLeft .sidebar_leftmenu_block {
    background: #EBEBEB;
    min-height: 100px;
    border-radius: 0 20px 0 0;
}


/* Footer
-----------------------------------------------------------------------------*/
#footer {
    width: 100%;
    margin: -21px auto 0;
    height: 21px;
    background: #000;
    color: #fff;
    position: relative;
}

#footer a {
    color: #fff;
}

/*#footer a:focus {
    border: 1px dotted #fff;
}*/

#footer .footer_left_block {
    margin-left: 4px;
    float: left;
}

#footer .footer_right_block {
    margin-right: 4px;
    float: right;
}


/* Login layout
-----------------------------------------------------------------------------*/
.login_box {
    background: #EAE9CE;
}

.login_footer {
    background: #9CCB07;
    height: 22px;
}