.content_list {
    margin-top: 30px;
}

table.content_list_table {
    width: 100%;
}

table.content_list_table,
table.content_list_table tr td,
table.content_list_table tr th {
    border: 1px solid #EBEBEB;
}

table.content_list_table tr td,
table.content_list_table tr th {
    padding: 4px;
}

table.content_list_table tr th {
    background: #969696;
    color: #FFF;
}

table.content_list_table {
    border-collapse: collapse;
}

table.content_list_table tr.content_list_table_bottom td {
    background: #EBEBEB;
}
