.zend_form input,
.zend_form button,
.zend_form select,
.zend_form textarea {
    background: #FAFAFA; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#fafafa'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#FAFAFA)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #FFFFFF,  #FAFAFA); /* for firefox 3.6+ */
    background: -o-linear-gradient(top,  #FFFFFF,  #FAFAFA); /* for opera */
    font-size: 14px;
    border: 1px solid #D7D7D7;
    padding: 6px 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    outline: none;
}

.zend_form input[type=checkbox],
.zend_form input[type=radio] {

}

.zend_form input[type=submit],
.zend_form button {
    background: #EBEBEB; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3f1f1', endColorstr='#ebebeb'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#F3F1F1), to(#EBEBEB)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #F3F1F1,  #EBEBEB); /* for firefox 3.6+ */
    background: -o-linear-gradient(top,  #F3F1F1,  #EBEBEB); /* for opera */
    cursor: pointer;
}

.zend_form input:focus,
.zend_form button:focus,
.zend_form select:focus,
.zend_form textarea:focus {
    border: 1px solid #AAA;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
}

/* для хака Opera */
.zend_form .button_wrapper {
    border: 1px solid #D7D7D7;
    display: inline-block;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.filter_form .zend_form .button_wrapper {
    border: 1px solid #BBB;
}
.edit_form .zend_form #submit-element .button_wrapper,
.edit_form .zend_form #cancel-element .button_wrapper {
    border: none;
}

/* Группы формы фильтра
-----------------------------------------------------------------------------*/
.filter_form .zend_form {
    background: #D7D7D7;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.filter_form .zend_form fieldset {
    border: none;
    margin-bottom: 10px;
}

.filter_form .zend_form fieldset:last-child {
    margin-bottom: 0;
}

.filter_form .zend_form dt,
.filter_form .zend_form dd {
    vertical-align: top;
    display: inline-block;
}

.filter_form .zend_form dt {
    margin-top: 6px;
    margin-right: 4px;
}

.filter_form .zend_form dd {
    margin-right: 10px;
}

.filter_form .zend_form input,
.filter_form .zend_form button,
.filter_form .zend_form select,
.filter_form .zend_form textarea {
    border: 1px solid #BBB;
}

.filter_form .zend_form input:focus,
.filter_form .zend_form button:focus,
.filter_form .zend_form select:focus,
.filter_form .zend_form textarea:focus {
    border: 1px solid #999;
}

.filter_form .zend_form input[type=submit] {
    background: #D7D7D7; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebebeb', endColorstr='#d7d7d7'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#EBEBEB), to(#D7D7D7)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #EBEBEB,  #D7D7D7); /* for firefox 3.6+ */
    background: -o-linear-gradient(top,  #EBEBEB,  #D7D7D7); /* for opera */
}

/* Группы формы редактирования
-----------------------------------------------------------------------------*/
.edit_form {
    margin-top: 10px;
}

.edit_form .zend_form fieldset {
    background: #EBEBEB;
    border: none;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.edit_form .zend_form .form_group_buttons dd {
    display: inline-block;
    margin-bottom: 0;
    margin-left: 0;
}

.edit_form .zend_form input[type=submit],
.edit_form .zend_form button {
    background: #D7D7D7; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d7d7d7', endColorstr='#e0e0e0'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#D7D7D7), to(#E0E0E0)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #D7D7D7,  #E0E0E0); /* for firefox 3.6+ */
    background: -o-linear-gradient(top,  #D7D7D7,  #E0E0E0); /* for opera */
}

.edit_form .zend_form input.save_button,
.edit_form .zend_form input.cancel_button {
    font-weight: bold;
    color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 6px 20px;
    border: 1px solid #EBEBEB;
}

.edit_form .zend_form input.save_button {
    text-shadow: #3e6900 0 1px;
    background: #698511; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#83aa00', endColorstr='#698511'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#83aa00), to(#698511)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #83aa00,  #698511); /* for firefox 3.6+ */
    background: -o-linear-gradient(top,  #83aa00,  #698511); /* for opera */
}

.edit_form .zend_form input.cancel_button {
    text-shadow: #666 0 1px;
    background: #9d9d9d;/* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#b9b9b9', endColorstr='#9d9d9d'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#b9b9b9), to(#9d9d9d)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #b9b9b9,  #9d9d9d) !important;/* for firefox 3.6+ */
    background: -o-linear-gradient(top,  #b9b9b9,  #9d9d9d); /* for opera */
}

.edit_form .zend_form input.save_button:focus,
.edit_form .zend_form input.cancel_button:focus {
    border: 1px solid #555;
}

.edit_form .zend_form #cancel-element {
    float: right;
}

.edit_form .zend_form fieldset dd {
    margin-bottom: 10px;
    margin-left: 150px
}

.edit_form .zend_form fieldset dd:last-child {
    margin-bottom: 0;
}

.edit_form .zend_form fieldset dt {
    clear: both;
}

.edit_form .zend_form fieldset dt label {
    width: 140px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
}

/* Ошибки
-----------------------------------------------------------------------------*/
ul.errors {
    list-style-type: none;
}
ul.errors li {
    color: #DD0000;
}


/* Login layout
-----------------------------------------------------------------------------*/
.login_form {
    padding: 20px 0 20px 70px;
}

.login_form dl.zend_form dt,
.login_form dl.zend_form dd {
    vertical-align: top;
    display: inline-block;
}

.login_form dl.zend_form dt {
    margin-top: 6px;
    margin-right: 4px;
}

.login_form dl.zend_form dd {
    margin-right: 10px;
}
